In [1]:
import numpy as np
import pandas as pd

In [5]:
# For Filling the values 
from sklearn.impute import SimpleImputer
# For One Hot Encoder
from sklearn.preprocessing import OneHotEncoder
# For Ordinal Encoder
from sklearn.preprocessing import OrdinalEncoder

In [11]:
df = pd.read_csv('covid_toy.csv')

In [13]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [23]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [28]:
X_train

    age  gender  fever   cough       city
92   82  Female  102.0  Strong    Kolkata
6    14    Male  101.0  Strong  Bangalore
86   25    Male  104.0    Mild  Bangalore
50   19    Male  101.0    Mild      Delhi
67   65    Male   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
47   18  Female  104.0    Mild  Bangalore
16   69  Female  103.0    Mild    Kolkata
64   42    Male  104.0    Mild     Mumbai
24   13  Female  100.0  Strong    Kolkata
45   72    Male   99.0    Mild  Bangalore

[80 rows x 5 columns]

## Aam Zindagi

In [35]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [36]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [41]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first')
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']]).toarray()

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']]).toarray()

X_train_gender_city.shape

(80, 4)

In [42]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [43]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

## Mentos Zindagi

In [44]:
from sklearn.compose import ColumnTransformer

In [50]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(drop='first'),['gender','city'])
],remainder='passthrough')

In [51]:
transformer.fit_transform(X_train).shape

(80, 7)

In [52]:
transformer.transform(X_test).shape

(20, 7)